<div class="container mt-5">
  <h1 class="display-4 mb-4">Tasks</h1>

  <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-md-4 mb-4">
        <a href="<%= task_path(task) %>" style="text-decoration: none; color: inherit;">
          <div class="card zoom" <% if task.due_date.present? && task.due_date < Time.now %><% end %>>
            <div class="card-body mx-auto">
              <h5 class="card-title"><%= task.title %></h5>
              <% if task.due_date.present? %>
                <span class="badge bg-dark rounded-pill"><%= task.due_date.strftime('%b %d, %Y, %H:%M:%S') %></span>
              <% else %>
                <span class="badge bg-secondary rounded-pill">No due date</span>
              <% end %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <button id="add-task-button" class="btn btn-dark">Add New Task</button>
      <div id="new-task-form" style="display: none;">
        <%= render 'form', task: Task.new %>
      </div>
    </div>
  </div>
</div>
