  <div class="container mt-5">
  <h1 class="display-4 mb-4">Tasks</h1>

  <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body mx-auto">
            <%= link_to task.title, task, style: "text-decoration: none;" %><br>
            <% if task.due_date.present? %>
              <span class="badge bg-primary rounded-pill"><%= task.due_date.strftime('%b %d, %Y') %></span>
            <% else %>
              <span class="badge bg-secondary rounded-pill">No due date</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <button id="add-task-button" class="btn btn-primary">Add New Task</button>
      <div id="new-task-form" style="display: none;">
        <%= render 'form', task: Task.new %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#add-task-button").on("click", function() {
      console.log("Button clicked!");
      $("#new-task-form").animate({
      height: 'toggle'
    });
    });
  });
</script>
